# Global compiled file
*.pyc

# Auto generated conf
egs/**/conf/*
!egs/**/conf/dnn
!egs/**/conf/logging_config.conf

# Running part
experiments/

# Tools
SPTK*
build/
bin/
tools/

# Pycharm IDE
.idea/

# questions-vc.hed
**/questions-vc.hed

# *.**~
**.**~

# Pytorch files
**.pth
!egs/**/**/**.sh
